$colors = {
  white: #fff,
  black: #000,
  default: #555,
  indigo: #5528ff
}

$media = {
  xs: 576px,
  sm: 768px,
  md: 990px,
  lg: 1280px,
  xl: 1440px
}

$indent = {
  mobile: 4rem,
  desktop: 8rem
}
